body{
    background-color: #737373;
    margin: 0;
}
.images img{
    width: 18%;
    margin: 5%;
    border-radius: 50%; 
    outline: 15px solid #434242;
}

.images{
    text-align: center;
}
/*style="border-radius: 50%; width: 20%; outline: 15px solid #434242;" */